body {
    margin: 36px 40px;
}

.content-wrapper {
    border-radius: 10px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 20px;

    overflow: hidden;

    background-color: #EBF0FA;

    > * {
        width: 50%;
    }
}

.info {
    margin-left: 72px;
    max-width: 510px;

    > .info__header {
        margin-bottom: 18px;

        font-size: 30px;
        font-weight: 500;
        line-height: 48px;

        color: #1F4284;
    }

    > .info__content {
        margin-bottom: 36px;

        font-size: 17px;
        font-weight: 400;
        line-height: 27.2px;

        color: #727272;
    }
}

.button {
    padding: 12px 12px 12px 24px;

    border: none;
    border-radius: 60px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 64px;
    
    background-color: #244C98;

    > .button__text {
        font-size: 18px;
        font-weight: 500;
        line-height: 28.8px;

        color: #FFFFFF;
    }

    > .button__icon-wrapper {
        border-radius: 50%;

        width: 45px;
        aspect-ratio: 1/1;

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        background-color: #FFFFFF;
    }

    > .button__icon {
        width: 100%;
    }

    &:hover {
        filter: brightness(1.25);
    }
}

.photo {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    > .photo__content {
        width: 100%;
    }
}
